include LICENSE
include README.md
include README_EN.txt
include requirements.txt
recursive-include pyproxyswitch/data *.qm PPS.conf proxy.txt
recursive-include pyproxyswitch/resources *.ui
recursive-include i18n *.py *.bat *.ts
